<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fncordemservico20231128212139.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/20b0a401-9c50-453c-b6b4-06ff102eec4d/resourcegroups/FNCOrdemServico20231128212139ResourceGroup/providers/Microsoft.Web/sites/FNCOrdemServico20231128212139</ResourceId>
    <UserName>$FNCOrdemServico20231128212139</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://fncordemservico20231128212139.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>